body {
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 1em;
    line-height: 1.5em;
    color: #414142;
    font-family: Arial;
    background-color: #ededed;
  }

a.nav {
    background-color: #d64078;
    color: white;
    border-radius: .3em;
    padding: .2em 0;
    position: relative;
    margin: 0 1.5em;
    width: 10em;
    display: inline-block;
    text-decoration: none;
    border: solid #b03060 1px;
    border-bottom: solid #b03060 4px;
    text-shadow: 0px 2px 0 #b03060;
    -webkit-transition: all 0.1s ease-out;  
       -moz-transition: all 0.1s ease-out;  
         -o-transition: all 0.1s ease-out;  
            transition: all 0.1s ease-out; 
  }

a.nav.prev {
    margin-left: 0;
}

a.nav.next {
    margin-right: 0;
}

a.nav:hover {
  background-color: #c63b6f;
}

a.nav:active {
  border-bottom: solid #b03060 1px;
  top: 4px;
  -webkit-transition: all 0 ease-out;  
     -moz-transition: all 0 ease-out;  
       -o-transition: all 0 ease-out;  
          transition: all 0 ease-out;  
}

.nav-wrapper {
    text-align: center;
    padding: 1em 0;
    clear: both;
  }
  
  .prev {
    left: 1em;
    background-color: gray;
    text-shadow: 2px 2px 0 gray;
    border: none;
  }
  
  .next {
    right: 1em;
  }

#logo {
    text-align: center;
    background-color: #ededed;
    padding: 1em 0;
}


  #logo a {
    text-decoration: none;
    color: #414142;
    position: relative;
  }
  
  #logo a:active {
    background: none;
  }
  
  #logo img {
    vertical-align: middle;
  }
  
  #logo span {
    vertical-align: middle;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    margin-left: .2em;
  }

.content {
    max-width: 600px;
    margin: 1em auto;
  }

footer {
    text-align: center;
  }
  